[Unit]
Description=Khadas Bluetooth service

[Service]
Type=forking
ExecStartPre=/bin/sh -c "/bin/echo 1 > /sys/class/rfkill/rfkill0/state"
ExecStart=/usr/bin/hciattach -s 115200 /dev/ttyS1 bcm43xx 2000000

[Install]
WantedBy=hassos-hardware.target
