# CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y

CONFIG_THERMAL_GOV_BANG_BANG=y
CONFIG_SENSORS_GPIO_FAN=y

CONFIG_KEYBOARD_GPIO=y
CONFIG_KEYBOARD_GPIO_POLLED=y

CONFIG_MMC_SDHCI_OF_DWCMSHC=y

# CONFIG_DW_WATCHDOG is not set
CONFIG_ROCKCHIP_DW_HDMI_QP=y
CONFIG_DRM_PANTHOR=y
CONFIG_HW_RANDOM_ROCKCHIP=y
CONFIG_KHADAS_MCU_FAN_THERMAL=y
CONFIG_MFD_KHADAS_MCU=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX=y
CONFIG_PHY_ROCKCHIP_USBDP=y
CONFIG_HW_RANDOM_ROCKCHIP m
CONFIG_I2C=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_I2C_DESIGNWARE_PCI=m
